<!DOCTYPE html>
<html>
    <body>
        <p>
            <h3>Hello! This is a simple bookstore application consisting of three services as shown below</h3>
        </p>
        {% autoescape false %}
        {{ serviceTable }}
        {% endautoescape %}
        <p>
            <h4>Click on one of the links below to auto generate a request to the backend as a real user or a tester
            </h4>
        </p>
        <p><a href="/productpage?u=normal">Normal user</a></p>
        <p><a href="/productpage?u=test">Test user</a></p>
    </body>
</html>

